<% @subtitle='Imaging'%>
<script src="javascript/egg.js" type="text/javascript"></script>
<div class="cloning card">
    <% if !imaging %>
    <% if params[:image] %>
    <h2 class="image">Chosen image:
        <%= params[:image] %></h2>
<% else %>
    <div class="clone windows"></div>
    <h2 class="image">Clone Windows 10?</h2>
    <% params[:image] = "Win10" %>
    <% end %>
    <div class="inner-confirm" id="confirm">

        <a href="/startClone?image=<%= params[:image] %>" class="button yes success"></a>

        <a href="/images" class="button destructive no"></a>

    </div>
<% else %>
    <h1 class="dougtext">Currently cloning image. Be patient</h1>
    <i class="fa fa-circle-o-notch fa-4x fa-spin"></i>
    <% end %>
    <div id="egg" class="egg"></div>
</div>
