<% @subtitle='/<span id="small">Clone</span>'%>
<div class="cloning">
    <% if params[:image] %>
    <h2 class="image">Chosen image:
        <%= params[:image] %></h2>
    <% else %>
      <h2 class="image">Windows 10?</h2>
      <% params[:image] = "Win10" %>
    <% end %>
    <div class="inner-confirm" id="confirm">


                <a href="/startClone?image=<%= params[:image] %>" class="button ">Yes</a>


                <a href="/images" class="button destructive">No</a>


    </div>

</div>
