<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="fa/css/font-awesome.min.css">
    <title>Panucci</title>
</head>

<body>
  <div class="intro-header">
      <h1>Panucci</h1>
  </div>
  <div class="wrapper">
      <%= yield %>
  </div>
<pre style="color: lightgray">
  ____
_,--~~    ~~--._
,/'  m%%%%%%=@%%m  `\.
/' m%%o(_)%%o%%%%o%%m `\
/' %%@=%o%%%o%%%o%(_)o%%% `\
/  %o%%%%%=@%%%(_)%%o%%@=%%  \
|  (_)%(_)%%o%%%o%%%%=@(_)%%%  |
| %%o%%%%o%%%(_)%%o%%o%%%%o%%% |
| %%o%(_)%%%%%o%(_)%%%o%%o%o%% |
|  (_)%%=@%(_)%o%o%%(_)%o(_)%  |
\ ~%%o%%%%%o%o%=@%%o%%@%%o%~ /
\. ~o%%(_)%%%o%(_)%%(_)o~ ,/
\_ ~o%=@%(_)%o%%(_)%~ _/
`\_~~o%%%o%%%%%~~_/'
`--..____,,--'


</pre>
</body>
