<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="fa/css/font-awesome.min.css">
    <title>Sunshine</title>
</head>

<body>
  <div class="intro-header">
      <h1>Sunshine</h1>
  </div>
  <div class="wrapper">
      <%= yield %>
  </div>
</body>
