<h1 class="black">Are you sure you want to override the order data?</h1>

<a class="override-button" href="/smugYes"><img src="/smug.png"><span>I know what I'm doing</span></a>
<a class="override-button" href="/"><img src="/fry.png"><span>No, I somehow got here by mistake!</span></a>
